# Ignore configuration files that may contain sensitive information.

# Ignore paths that contain user-generated content.


# Ignore custom theme build artifacts
items-assest

#docroot/themes/custom/*/css
 
# Ignore build artifacts
 

# OS X
.DS_Store
 
# Thumbnails
._*

# Files that might appear on external disk
 
# Windows image file caches
 

# Folder config file
 

# Recycle Bin used on file shares
 
# Eclipse

