# Ignore configuration files that may contain sensitive information.
.htaccess
items-assest

# Ignore paths that contain user-generated content.


# Ignore custom theme build artifacts


#docroot/themes/custom/*/css
 
# Ignore build artifacts
 

# OS X
 
# Thumbnails


# Files that might appear on external disk
 
# Windows image file caches
 

# Folder config file
 

# Recycle Bin used on file shares
 
# Eclipse

